@charset "ISO-8859-1";

h1 {
	text-align: center;
	background-color: #ebf5ec;
}

#nom {
	text-align: center;
	font-size: 25px;
	margin-top: 15px;
}

img {
	width: 300px;
	margin-left: 80px;
	margin-top: 20px;
}

#conteneur {
	width: 480px;
	height: 480px;
	margin:auto;
	background-color: #edede9;
	padding: 10px;
}